<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="modal-close-icon" width="24" height="24">
        <use href="../img/icons.svg#close-btn"></use>
      </svg>
    </button>
    <h1 class="modal-title">Your Order</h1>

    <form class="modal-form">
      <ul class="form-list list">
        <li class="form-item">
          <div class="form-item-check">
            <input
              class="form-check visually-hidden"
              type="checkbox"
              name="cabbage"
              id="cabbage"
              value="true"
              required
            />
            <label class="check-label" for="cabbage">
              <svg class="check-icon" width="16" height="16">
                <use href="../img/icons.svg#icon-check"></use>
              </svg>
            </label>
          </div>
          <div class="form-item-primary">
            <h2 class="form-item-title">Cabbage Basket</h2>
            <p class="form-item-text">Plant</p>
          </div>
          <picture class="form-item-pic">
            <source
              srcset="
                ../img/desktop/modal/modal-cabbage-desk.png    1x,
                ../img/desktop/modal/modal-cabbage-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/tablet/modal/modal-cabbage-tab.png    1x,
                ../img/tablet/modal/modal-cabbage-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/mobile/modal/modal-cabbage-mob.png    1x,
                ../img/mobile/modal/modal-cabbage-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/desktop/modal/modal-cabbage-desk.png"
              alt="photo cabbage basket"
              width="243"
            />
          </picture>
        </li>
        <li class="form-item">
          <div class="form-item-check">
            <input
              class="form-check visually-hidden"
              type="checkbox"
              name="tomato"
              id="tomato"
              value="true"
              required
            />
            <label class="check-label" for="tomato">
              <svg class="check-icon" width="16" height="16">
                <use href="../img/icons.svg#icon-check"></use>
              </svg>
            </label>
          </div>
          <div class="form-item-primary">
            <h2 class="form-item-title">Tomato Basket</h2>
            <p class="form-item-text">Plant</p>
          </div>
          <picture class="form-item-pic">
            <source
              srcset="
                ../img/desktop/modal/modal-tomato-desk.png    1x,
                ../img/desktop/modal/modal-tomato-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/tablet/modal/modal-tomato-tab.png    1x,
                ../img/tablet/modal/modal-tomato-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/mobile/modal/modal-tomato-mob.png    1x,
                ../img/mobile/modal/modal-tomato-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/desktop/modal/modal-tomato-desk.png"
              alt="photo cabbage basket"
              width="243"
            />
          </picture>
        </li>
        <li class="form-item">
          <div class="form-item-check">
            <input
              class="form-check visually-hidden"
              type="checkbox"
              name="vegetables"
              id="vegetables"
              value="true"
              required
            />
            <label class="check-label" for="vegetables">
              <svg class="check-icon" width="16" height="16">
                <use href="../img/icons.svg#icon-check"></use>
              </svg>
            </label>
          </div>
          <div class="form-item-primary">
            <h2 class="form-item-title">Vegetables Basket</h2>
            <p class="form-item-text">Plant</p>
          </div>
          <picture class="form-item-pic">
            <source
              srcset="
                ../img/desktop/modal/modal-vegetables-desk.png    1x,
                ../img/desktop/modal/modal-vegetables-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/tablet/modal/modal-vegetables-tab.png    1x,
                ../img/tablet/modal/modal-vegetables-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/mobile/modal/modal-vegetables-mob.png    1x,
                ../img/mobile/modal/modal-vegetables-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/desktop/modal/modal-vegetables-desk.png"
              alt="photo cabbage basket"
              width="243"
            />
          </picture>
        </li>
      </ul>

      <div class="form-wrap">
        <div class="form-field-submit">
          <div class="form-field">
            <label class="form-label">
              <input
                class="form-input"
                type="text"
                name="user-name"
                placeholder="Enter full name..."
                pattern="\w{3,20}"
                required
              />
            </label>
          </div>
          <div class="form-field">
            <label class="form-label">
              <input
                class="form-input"
                type="email"
                name="user-mail"
                placeholder="Enter email..."
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                required
              />
            </label>
          </div>
          <div class="form-field">
            <label class="form-label">
              <input
                class="form-input"
                type="text"
                name="user-card"
                placeholder="Enter card.."
                pattern="[0-9]{16}"
                required
              />
            </label>
          </div>
          <div class="form-field-coment">
            <label class="form-label">
              <textarea
                class="form-coment"
                name="user-comment"
                placeholder="Enter comments..."
              ></textarea>
            </label>
          </div>
        </div>
        <button class="form-btn" type="submit">Submit</button>
      </div>
      <picture class="form-pic">
        <source
          srcset="
            ../img/desktop/modal/modal-girl-desk.png    1x,
            ../img/desktop/modal/modal-girl-desk@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/tablet/modal/modal-girl-tab.png    1x,
            ../img/tablet/modal/modal-girl-tab@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="../img/desktop/modal/modal-girl-desk.png"
          alt="photo girl with cabbage"
          width="444"
        />
      </picture>
    </form>
  </div>
</div>
