<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./css/footer.css" />

    <title>Document</title>
  </head>
  <body>
    <!-- Footer veggieboost -->
    <footer id="footer" class="footer-veggieboost">
      <!-- footer-veggieboost-container -->
      <div class="container">
        <!-- logo and footer nav  -->
        <div class="footer-veggieboost-logo">
          <picture>
            <source
              srcset="
                ../img/desktop/footer/broccoli-desk.png 1x,
                ../img/desktop/footer/broccoli-desk@2x.png 2x"
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ../img/tablet/footer/broccoli-tab.png    1x,
                ../img/tablet/footer/broccoli-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ../img/mobile/footer/broccoli-mob.png    1x,
                ../img/mobile/footer/broccoli-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./img/mobile/footer/broccoli-mob.png"
              alt="Logo"
              class="img-footer"
            />
          </picture>

          <a href="index.html" class="footer-logo-link">
            <svg width="16" height="16" class="footer-logo-icon">
              <use href="./img/icons.svg#logo"></use>
            </svg>
            <span class="span-footer-logo">VEGGIEBOOST</span>
          </a>

          <ul class="list-footer list-footer-logo">
            <li class="footer-logo-nav-list">
              <a href="#how-it-works" class="footer-nav-link">How It Works</a>
            </li>
            <li>
              <a href="#vegetables" class="footer-nav-link">Vegetables</a>
            </li>
            <li><a href="#footer" class="footer-nav-link">Contacts</a></li>
          </ul>
        </div>

        <!-- social media  footer -->
        <div class="footer-veggieboost-social-media">
          <ul class="list-footer list-footer-social-media">
            <li class="list-icon-social-media">
              <a href="#" class="footer-social-list-link">
                <svg class="footer-social-media-icon" width="24" height="24">
                  <use href="./img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="list-icon-social-media">
              <a href="#" class="footer-social-list-link">
                <svg class="footer-social-media-icon" width="24" height="24">
                  <use href="/img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="list-icon-social-media">
              <a href="#" class="footer-social-list-link">
                <svg class="footer-social-media-icon" width="24" height="24">
                  <use href="img/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <!-- footer contact detailes -->
        <div class="footer-veggieboost-contact-detailes">
          <a href="tel:+380684439426" class="footer-contact-detailes-link"
            >+380 (68) 443-94-26</a
          >
          <p class="footer-contact-detailes-text">
            1678 S. Pioneer <br />
            Road Salt Lake City<br />
            UT 84104
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
