<header class="header">
      <div class="header-box">
        <nav class="header-navigations">
          <ul class="list header-menu-list">
            <li class="header-nav-list">
              <a href="#how-it-works" class="header-menu-item link">How It Work</a>
            </li>
            <li class="header-nav-list">
              <a href="#vegetables" class="header-menu-item link">Vegetables</a>
            </li>
            <li class="header-nav-list">
              <a href="#footer" class="header-menu-item link">Contacts</a>
            </li>
          </ul>
          <a href="../index.html" class="header-logo-nav link">
            <svg width="16" height="16" class="header-logo">
            <use href="../img/icons.svg#logo"></use>
            <span class="header-text">veggieboost</span>
            </a>
        </nav>
        <button type="button" class="header-mob-menu-burger">
          <svg width="24" height="24" class="header-burger js-open-menu">
            <use href="../img/icons.svg#burger"></use>
          </svg>
        </button>        
        <button type="button" class="header-basket-btn" data-modal-open="">
          <svg class="icon-basket" >
            <use href="../img/shopping-cart.svg#shopping-cart"></use>
          </svg>
        </button>
      </div>
    </header>