<section class="section organic">
    <div class="container">
      <h2 class="organic-title" id="vegetables">Organic vegetables</h2>
      <p class="organic-text">
        Our organic vegetables are hand-picked from local farms and
        delivered straight to your doorstep, ensuring that you get the
        freshest and most nutritious produce possible.
      </p>
      <ul class="organic-list list">
        <li class="organic-list-item">
          <div class="organic-thumb">
            <div class="organic-picture">
              <picture>
                <source
                  srcset="
                    ./img/desktop/vegetables/carrot-desk.png 1x,
                    ./img/desktop/vegetables/carrot-desk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/tablet/vegetables/carrot-tab.png 1x,
                    ./img/tablet/vegetables/carrot-tab@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/vegetables/carrot-mob.png 1x,
                    ./img/mobile/vegetables/carrot-mob@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./img/desktop/vegetables/carrot.png" alt="carrot" />
              </picture>
            </div>

            <p class="organic-veg">Carrot</p>
            <p class="organic-plant">Plant</p>
            <p class="organic-price">100 UAH / kg</p>
          </div>
        </li>
        <li class="organic-list-item">
          <div class="organic-thumb">
            <div class="organic-picture">
              <picture>
                <source
                  srcset="
                    ./img/desktop/vegetables/brussel-desk.png 1x,
                    ./img/desktop/vegetables/brussel-desk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/tablet/vegetables/brussel-tab.png 1x,
                    ./img/tablet/vegetables/brussel-tab@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/vegetables/brussel-mob.png 1x,
                    ./img/mobile/vegetables/brussel-mob@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./img/desktop/vegetables/brussel.png" alt="brussel" />
              </picture>
            </div>

            <p class="organic-veg">Brussel sprouts</p>
            <p class="organic-plant">Plant</p>
            <p class="organic-price">80 UAH / kg</p>
          </div>
        </li>
        <li class="organic-list-item">
          <div class="organic-thumb">
            <div class="organic-picture">
              <picture>
                <source
                  srcset="
                    ./img/desktop/vegetables/tomato-desk.png 1x,
                    ./img/desktop/vegetables/tomato-desk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/tablet/vegetables/tomato-tab.png 1x,
                    ./img/tablet/vegetables/tomato-tab@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/vegetables/tomato-mob.png 1x,
                    ./img/mobile/vegetables/tomato-mob@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./img/mobile/vegetables/tomato.png" alt="tomato" />
              </picture>
            </div>

            <p class="organic-veg">Tomato</p>
            <p class="organic-plant">Plant</p>
            <p class="organic-price">40 UAH / kg</p>
          </div>
        </li>
        <li class="organic-list-item">
          <div class="organic-thumb">
            <div class="organic-picture">
              <picture>
                <source
                  srcset="
                    ./img/desktop/vegetables/eggplant-desk.png 1x,
                    ./img/desktop/vegetables/eggplant-desk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/tablet/vegetables/eggplant-tab.png 1x,
                    ./img/tablet/vegetables/eggplant-tab@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/vegetables/eggplant-mob.png 1x,
                    ./img/mobile/vegetables/eggplant-mob@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./img/desktop/vegetables/eggplant.png" alt="eggplant" />
              </picture>
            </div>

            <p class="organic-veg">Eggplant</p>
            <p class="organic-plant">Plant</p>
            <p class="organic-price">60 UAH / kg</p>
          </div>
        </li>
        <li class="organic-list-item">
          <div class="organic-thumb">
            <div class="organic-picture">
              <picture>
                <source
                  srcset="
                    ./img/desktop/vegetables/potatoes-desk.png 1x,
                    ./img/desktop/vegetables/potatoes-desk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/tablet/vegetables/potatoes-tab.png 1x,
                    ./img/tablet/vegetables/potatoes-tab@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/vegetables/potatoes-mob.png 1x,
                    ./img/mobile/vegetables/potatoes-mob@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./img/desktop/vegetables/potatoes.png" alt="potatoes" />
              </picture>
            </div>

            <p class="organic-veg">Sweet potatoes</p>
            <p class="organic-plant">Plant</p>
            <p class="organic-price">80 UAH / kg</p>
          </div>
        </li>
        <li class="organic-list-item">
          <div class="organic-thumb">
            <div class="organic-picture">
              <picture>
                <source
                  srcset="
                    ./img/desktop/vegetables/leek-desk.png 1x,
                    ./img/desktop/vegetables/leek-desk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/tablet/vegetables/leek-tab.png 1x,
                    ./img/tablet/vegetables/leek-tab@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/vegetables/leek-mob.png 1x,
                    ./img/mobile/vegetables/leek-mob@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./img/desktop/vegetables/leek.png" alt="leek" />
              </picture>
            </div>

            <p class="organic-veg">Leek</p>
            <p class="organic-plant">Plant</p>
            <p class="organic-price">50 UAH / kg</p>
          </div>
        </li>
        <li class="organic-list-item">
          <div class="organic-thumb">
            <div class="organic-picture">
              <picture>
                <source
                  srcset="
                    ./img/desktop/vegetables/mushrooms-desk.png 1x,
                    ./img/desktop/vegetables/mushrooms-desk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/tablet/vegetables/mushrooms-tab.png 1x,
                    ./img/tablet/vegetables/mushrooms-tab@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/vegetables/mushrooms-mob.png 1x,
                    ./img/mobile/vegetables/mushrooms-mob@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./img/mobile/vegetables/mushrooms.png" alt="mushrooms" />
              </picture>
            </div>

            <p class="organic-veg">Mushrooms</p>
            <p class="organic-plant">Plant</p>
            <p class="organic-price">40 UAH / kg</p>
          </div>
        </li>
        <li class="organic-list-item">
          <div class="organic-thumb">
            <div class="organic-picture">
              <picture>
                <source
                  srcset="
                    ./img/desktop/vegetables/corn-desk.png 1x,
                    ./img/desktop/vegetables/corn-desk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/tablet/vegetables/corn-tab.png 1x,
                    ./img/tablet/vegetables/corn-tab@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/vegetables/corn-mob.png 1x,
                    ./img/mobile/vegetables/corn-mob@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./img/desktop/vegetables/corn.png" alt="corn" />
              </picture>
            </div>

            <p class="organic-veg">Corn</p>
            <p class="organic-plant">Plant</p>
            <p class="organic-price">60 UAH / kg</p>
          </div>
        </li>
        <li class="organic-list-item organic-radish">
          <div class="organic-thumb">
            <div class="organic-picture">
              <picture>
                <source
                  srcset="
                    ./img/desktop/vegetables/radish-desk.png 1x,
                    ./img/desktop/vegetables/radish-desk@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/tablet/vegetables/radish-tab.png 1x,
                    ./img/tablet/vegetables/radish-tab@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/vegetables/radish-mob.png 1x,
                    ./img/mobile/vegetables/radish-mob@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./img/desktop/vegetables/radish.png" alt="radish" />
              </picture>
            </div>

            <p class="organic-veg">Radish</p>
            <p class="organic-plant">Plant</p>
            <p class="organic-price">90 UAH / kg</p>
          </div>
        </li>

      </ul>
      <button type="submit" class="organic-button" data-modal-open>
        <svg class="organic-icon" width="14" height="14">
          <use href="./img/icons.svg#Vector"></use>
        </svg>
       <span class="organic-rotate">Order</span> 

      </button>
    </div>
  </section>