:root {
    --basic-background-color: #FFFFFF;
    --black: #141414;
    --green: #A1C487;
    --light-green: #EAF7E5;
    --orange: #FC8A11;
    --old-lace: #FAF3E7;
    --white-smoke: #F3F3F3;
    --floral-white-hashtag: #F9F7F4;
    --main-color-logo: #77AC63;
    --footer-color-logo: #141414;
}