.hero-wrap-main {}


.hero-wrap-secondary {}

.hero {
    padding-top: 48px;
    padding-bottom: 20px;
    background-color: var(--green);
    margin: 0 auto;
}

.hero-position-second {
    position: absolute;
    left: 28px;
}

.hero-position-third {
    position: absolute;
    left: 56px;
}

.hero-position-fourth {
    position: absolute;
    left: 84px;
}

.hero-img-circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--basic-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img-height {
    height: 40px;
    width: 40px;
    /* background-image: url(../img/ellipse.png); */
}



.hero-img-four {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--basic-background-color);
    color: var(--footer-color-logo);
    font-size: 14px;
    /* font-family: DM Sans; */
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.56px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
}


.hero-text-rewievs {
    color: var(--footer-color-logo);
    font-size: 8px;
    /* font-family: DM Sans; */
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.32px;
    text-transform: lowercase;
}

.hero-images-list {
    display: flex;
    margin-bottom: 14px;
    position: relative;
}


.hero-title {
    /* font-family: DM Sans; */
    color: var(--basic-background-color);
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
    /* min-width: 335px; */
    margin-bottom: 14px;
    max-width: 335px;
    letter-spacing: -1.6px;

}

.hero-title-text {
    /* font-family: DM Sans; */
    color: var(--light-green);
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: -1.6px;

}

.hero-text {
    /* font-family: DM Sans; */
    color: var(--basic-background-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    margin-bottom: 20px;
    max-width: 335px;
    letter-spacing: -0.56px;

}

.hero-btn-main {
    width: 68px;
    height: 68px;
    background-color: var(--old-lace);
    border-radius: 50%;
    margin-bottom: 8px;
    border: none;
    display: flex;
    align-items: center;
}

.hero-button-shop {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    padding: 17px 3px;
    /* display: block;
    align-items: center;
    justify-content: center; */
    color: var(--orange);
    font-size: 14px;
    font-style: normal;
    /* font-family: DM Sans; */
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.14;
    margin: auto;
    transform: rotate(-14deg);

}

.hero-button-shop:hover {
    background-color: var(--light-green);
    color: var(--green);
}

.hero-button-shop:focus {
    background-color: var(--light-green);
    color: var(--green);
}

.hero-main-img {
    margin-bottom: 16px;
    width: 278px;
    height: 228px;

}

.hero-picture {
    display: flex;
    justify-content: center;
}


.hero-buttons-list {
    display: flex;
    gap: 4px;
    margin-left: auto;
    width: 100%;
    max-width: 230px;
    flex-wrap: wrap;
    justify-content: flex-end;
}



.hero-btn {
    color: var(--basic-background-color);
    font-size: 10px;
    /* font-family: DM Sans; */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.4px;
    padding: 8px 14px;
    margin: auto;
    border-radius: 1000px;
    /* border-color: var(--basic-background-color); */
    background-color: var(--green);
    display: flex;
    justify-content: center;
    border: 1px solid var(--basic-background-color);
    max-width: 100%;
}

.hero-btn:hover {
    border-color: var(--basic-background-color);
    color: var(--black);
    background-color: var(--floral-white-hashtag);
}

.hero-btn:focus {
    border-color: var(--basic-background-color);
    color: var(--black);
    background-color: var(--floral-white-hashtag);
}